<!DOCTYPE HTML>
  <html lang='eng'>
  <head>
    <script src="https://use.fontawesome.com/24a4399a18.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>TINY APP</title>
  </head>
  <%- include('partials/_header') %>
  <body>

    <ul>  <% for(let link in urls) { %>
      <li><h2> Original URL:<a href='<%= urls[link].longURL %>''><%= urls[link].longURL %></a></h2><a href='/urls/<%=link%>'> <button>Edit</button> </a>
      <h2> Tiny URL: <%= link %>
         <form method="POST" action='/urls/<%=link%>/delete'><button><i class="fa fa-trash-o" aria-hidden="true"></button></i></form>
      </h2> </li>
      <%} %>
    </ul>
    <h3>Add new URL</h3>
    <form method="GET" action='/urls/new'> <button>New</button> </form>
  </body>
  </html>
